<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <title>PeopArt Djouss</title>
</head>

<body>
    <nav class="navbar navbar-light bg-nav">
        <span class=" mb-0 display-3 m-3 mx-auto">PeopArt</span>
    </nav>


    <div class="container text-center mt-5">
        <div class="h1">
            Welcome to the Masra7
        </div>
        <div class="h3 text-secondary">
            Put your art and show it to the world
        </div>
        <div class="container mt-5">
            <form action="/uploadmultipe" method="POST" enctype="multipart/form-data">
                <div class="row justify-centent-center">
                    <div class="col-8">
                        <input type="file" multiple class="form-control" name="images">
                    </div>
                    <div class="col-2">
                        <input type="submit" class="btn" value="Publish">

                    </div>
                </div>
            </form>
        </div>
        <div class="container mt-5">
            <div class="row">
                {{#each images}}
                {{#each this}}
                {{#if imageBase64}}
                <div class="col-3 p-2">
                    <div class="card shadow">
                        <img src='data:{{contentType}};base64,{{imageBase64}}' class="card-img-top" class="img-fluid"
                            alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">PeoplArt</p>
                        </div>
                    </div>
                </div>
                {{/if}}
                {{/each}}
                {{/each}}


            </div>

        </div>
    </div>
    <div class="container-fuild text-center p-2 fixed-bottom bg-nav">
        Made By Obenelhadjdjelloul
    </div>
</body>

</html>